
# Entorno virtual

# Archivos compilados de Python
__pycache__/
*.py[cod]

# Archivos de configuración local
.env

# Base de datos local
*.sqlite3

# Archivos de logs
*.log

# Archivos del sistema
.DS_Store

# Migraciones compiladas
core/migrations/__pycache__/
core/__pycache__/


# Ignorar JSON dentro de core/data y subcarpetas
core/data/*.json
core/data/**/*.json
